html {
  overflow-y: scroll;
}

html::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #272727;
  user-select: none;
  font-family: 'Roboto', Arial, sans-serif;
}

#main {
  margin: 0px; 
  /* margin: 5px;  */
}

#content {
    vertical-align:middle;
    width: 195px;
}

button:focus {
  outline: none;
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #343434;
  background-color: #272727;
  display: flex;
}

.tab button {
  background-color: #272727;
  border-bottom: 3px solid #272727;
  color: #b5b5b5;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 17px;
}

.tab button:hover {
  color: white;
}

.tab button.active {
  background-color: #272727;
  color: #b5b5b5;
  border-bottom: 4px solid #4b4b4b;
}

.tab button.active:hover {
  background-color: #272727;
  color: #d7d7d7;
  border-bottom: 4px solid #6d6d6d;
}

.tabcontent {
  padding: 0px 12px;
  border-top: none;
}

.tabcontent_title {
  margin-top: 13px;
  font-family: arial;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #d8d8d8;
}

.checkbox_disabled {
  height: 30px;
  background-color: #272727;
  color: #d8d8d8;
}
.checkbox_disabled:hover {
  background-color: #414141;
  color: #e8e8e8;
}
.checkbox_enabled {
  height: 30px;
  background-color: #b5b5b5;
  color: #343434;
  fill: #343434;
}
.checkbox_enabled:hover {
  background-color: #d3d3d3;
  color: #4d4d4d;
  fill: #4d4d4d;
}

.btn-group button {
  font-size: 0.7rem;
  border: 1px solid #343434;
  margin: 1.5px 0px;
  border-radius: 4px;
  padding: 0px;
}

.univButton {
  width: 100%;
  height: 30px;
  background-color: #313131;
  color: #d8d8d8;
}

.univButton:hover {
  background-color: #b5b5b5;
  color: #343434;
  fill: #343434;
}

.univButton:active {
  background-color: #949494;
}

.highButton {
  width: 31.8px;
  height: 31.8px;
  padding: 3px;
}

.divider{
  width:6px;
  height:auto;
}

.horiz-buttons {
  display: flex;
  gap:3px;
}

.icon-text {
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 100%;
}

.icon {
  display: flex;
  align-self: center;
  flex-shrink: 0;
  user-select: none;
  pointer-events: none;
  fill: currentColor;
}

#delay_path_rig_icon {
  width: 2em;
}

#rig_keys_len_icon {
  width: 2em;
}

#rig_keys_speed_icon {
  width: 1.4em;
}

#rig_path_speed_icon {
  width: 3em;
}
#rig_slider_add_icon {
  width: 1.85em;
}

#bend_path_rig_icon {
  width: 2.15em;
}

#waves_on_path_icon {
  width: 1.4em;
}

#visHandles_icon {
  width: 1.6em;
}

#lenRigDubl_icon {
  width: 1.4em;
  margin: auto;
}

#rig_keys_len_add {
  width: 42px;
}

#sliderDubl {
  width: 34px;
}

/* .addCtrl {

} */

/* #pathBendCtrl1_icon {
  width: 1.3em;
}

#pathBendCtrl2_icon {
  width: 1.3em;
} */

/* #rig_keys_len_add {
  width: 34px;
} */

#rig_keys_speed_add {
  width: 34px;
}

#rig_keys_len_add_icon {
  justify-content: center;
  /* left: 2px; */
  margin-left: 1px;
}

#rig_keys_speed_add_icon {
  justify-content: center;
  /* left: 2px; */
  margin-left: 1px;
}

.corner_indicator {
  font-weight: 400;
  font-size: 0.3rem;
  color: grey;
  padding: 2px;
  /* left: 100%;
  top: -100%; */
  position: absolute;
}

.button-text {
  margin: 0;
  align-self: center;
}

.dublButton {
  width: 42px;
  display: block;
  /* font-weight: bold; */
}

.addButton {
  width: 20%;
  display: block;
  /* font-weight: bold; */
}

.addCtrl {
  width: 28px;
  display: block;
  /* font-weight: bold; */
}
  
.space {
  margin-top: 7px;
}
.extraspace {
  margin-top: 20px;
}

.tooltip {
  position: absolute;
  display: flex;
  font-size: 12px;
  user-select: none;
  pointer-events: none;
}

.tooltip-inner {
  padding: 3px;
  margin-top: 10px;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  background-color: #000000;
  opacity: 80%;
  
  white-space: pre-wrap;
}

.infoText {
  margin-top: 25px;
}

.smallText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  color: #7d7d7d;
  margin: 3px 0px;
  text-align: center;
}

.openLink button {
  background:none;
  border:none; 
  color: #d8d8d8;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.openLink button:hover {
  color: #f4dc0a;
  cursor: pointer;
}

.logo {
  width: 75%;
  margin: auto;
}
