/*
  We show the default (arrow) cursor at all times, except on text inputs.
  The user should not be able to select anything in the panel.
*/
body {
    -webkit-user-select: none;
    cursor: default;
}
/*
  The StatusBar requires the body's margin to be 0 pixels. This is harcoded
  in the StatusBar module of the framework. Therefore we set the margin on
  the main div. So make sure you wrap your UI with this div.
*/
#main {
    margin: 0px;
}
/*
  According to OS standards a pointer (hand) cursor only appears on actual
  HTML links that direct to the browser. In every other case it is the
  default (arrow) cursor. So only use the <a> tag for actual links, not
  for buttons.
*/
a {
    cursor: pointer;
}
